.icon-house-icon,
.icon-persons-icon,
.tab-icon {
	stroke: '{themes.cf_font}';
	fill: '{themes.cf_font}';
}
.row.content-calculator .tab-content {
	background: '{themes.cf_background}';
}
.row.content-calculator ul.nav li.active {
	background:'{themes.cf_background_tabs_act}';
}
.row.content-calculator ul.nav li a:hover {
	color: '{themes.cf_font_hover}';
}
.row.content-calculator ul.nav li {
	background: '{themes.cf_background_tabs}';
	background: -moz-linear-gradient(left, '{themes.cf_background_tabs_gradient}' 0%, '{themes.cf_background_tabs_gradient}' 100%);
	background: -webkit-linear-gradient(left, '{themes.cf_background_tabs} 0%, '{themes.cf_background_tabs_gradient} 100%);
	background: linear-gradient(to right, '{themes.cf_background_tabs} 0%,  '{themes.cf_background_tabs_gradient} 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="'{themes.cf_background_tabs}'", endColorstr="'{themes.cf_background_tabs_gradient}'", GradientType=1);
	opacity:  '{themes.cf_background_tabs_opacity}';
}
.row.content-calculator .tab-content .tab-pane .calculatorContent p {
	font-family:'{themes.cf_font_family_second}', sans-serif!important;
	color: '{themes.cf_font}';
}
.row.content-calculator .tab-content #gas.tab-pane ul li::before,
.row.content-calculator .tab-content #current.tab-pane ul li::before,
.row.content-calculator .tab-content #heat.tab-pane ul li::before,
.row.content-calculator ul.nav li a,
.row.content-calculator {
	font-family: '{themes.cf_font_family_first}', sans-serif!important;
	content: "• ";
	color: '{themes.cf_font}';
}
.row.content-calculator .tab-content #current.tab-pane input {
	border-bottom: 2px solid '{themes.cf_power}';
}
.row.content-calculator .tab-content .tab-pane .calculatorContent .numberOfPersons .persons:hover,
.row.content-calculator .tab-content .tab-pane .calculatorContent .numberOfPersons .persons.active,
.row.content-calculator .tab-content .tab-pane .calculatorContent .flatSizes .persons:hover,
.row.content-calculator .tab-content .tab-pane .calculatorContent .flatSizes .persons.active {
	border-color: '{themes.cf_power}';
	background-color: '{themes.cf_power}';
}
.row.content-calculator .tab-content  input {
	background-color: '{themes.cf_input_bgr}'!important;
	color:'{themes.cf_input}'!important;
}
.row.content-calculator .tab-content .tab-pane .calculatorContent .inputField label .select-type .counter-types,
.row.content-calculator .tab-content .tab-pane .calculatorContent .inputField label .select-type .option,
.row.content-calculator .tab-content .tab-pane .calculatorContent .inputField label .select-type .select,
.row.content-calculator .tab-content .tab-pane .calculatorContent .inputField label .select-type .heating-types,
.row.content-calculator .tab-content .tab-pane .calculatorContent .inputField label .select-type .counter-types .hhs-col,
.row.content-calculator .tab-content .tab-pane .calculatorContent .inputField label .select-type .counter-types .ws-col {
	background-color: '{themes.cf_heat_input_select}'!important;
	color:'{themes.cf_heat_input_select_fontcolor}'!important;
}
.row.content-calculator .tab-content .tab-pane .calculatorContent .inputField label .select-type .option:hover,
.row.content-calculator .tab-content .tab-pane .calculatorContent .inputField label .select-type .counter-types .ws-col:hover:not(.title) {
	background-color: '{themes.cf_heat_input_select_hover}!important;
	color:'{themes.cf_heat_input_select_fontcolor}'!important;
}
.row.content-calculator .tab-content .tab-pane .calculatorContent .inputField label .select-type .counter-types .ws-col .txt .subtext {
	color:'{themes.cf_heat_input_select_fontcolor}'!important;
}
.row.content-calculator .tab-content #current.tab-pane .inputField.button input,
#sumbmitPower {
	background-color:'{themes.cf_power}'!important;
}
.row.content-calculator .tab-content .tab-pane .calculatorContent p {
	font-family:'{themes.cf_font_family_second}, sans-serif!important;
	color: '{themes.cf_font}';
}
.row.content-calculator .tab-content  .tab-pane.active .calculatorContent  {
	color: '{themes.cf_font}'!important;
}
#sumbmitPower:hover {
	border-color: '{themes.cf_power}';
	background-color: '{themes.cf_power_hover}'!important;
}
.row.content-calculator .tab-content .tab-pane .calculatorContent .flatSizes .flatsize:hover,
.row.content-calculator .tab-content .tab-pane .calculatorContent .flatSizes .flatsize.active {
	background-color: '{themes.cf_gas_hover}';
	color:'{themes.cf_gas_input}';
}
#sumbmitGas {
	background-color: '{themes.cf_gas}';
}
#sumbmitGas:hover {
	background-color: '{themes.cf_gas_hover}'!important;
	color: '{themes.cf_input}';
}
.row.content-calculator .tab-content #gas.tab-pane input {
	border-bottom: 2px solid '{themes.cf_gas}';
}
.row.content-calculator .tab-content .tab-pane .calculatorContent .numberOfPersons .flatsize:hover,
.row.content-calculator .tab-content .tab-pane .calculatorContent .numberOfPersons .flatsize.active,
.row.content-calculator .tab-content .tab-pane .calculatorContent .flatSizes .flatsize:hover,
.row.content-calculator .tab-content .tab-pane .calculatorContent .flatSizes .flatsize.active {
	border-color: '{themes.cf_gas}';
	background-color: '{themes.cf_gas}';
}
.row.content-calculator .tab-content .tab-pane .calculatorContent .inputField label .select-type .select.title,
.row.content-calculator .tab-content #heat.tab-pane input {
	border-bottom: 2px solid '{themes.cf_heat}';
}
h2.title.h3 {
	color:'{themes.cf_font_headlines}';
	color:red;
	font-family:'{themes.cf_font_family_second}', sans-serif!important;
}